@font-face {
    font-family: 'ABC Diatype Edu-Regular';
    src: url("ABCDiatype-Regular.ttf") format('truetype');
    font-weight: 500;
    font-style:normal;
    font-display: swap;
}

/** navigation css **/
a {
  text-decoration: none;
  color:inherit;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav {
  will-change: transform;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vw * 60 / 1920);
  z-index: 1;
  background: #1a1a1a;
 font-size: calc(100vw * 18 /1920);
 letter-spacing: 0.09em;

}
.nav--active {
  transform: translateY(0);
}
.nav__list {
  display: inline-flex;

}
.nav__item {
  flex: 1;
  position: relative;

}

.nav__item:hover #nav1{

text-decoration: none;
 color:#F65735;
 font-weight: 700;
}

.nav__item:hover #nav2{

  text-decoration: none;
 color:#395B50;
 font-weight: 700;
}

.nav__item:hover #nav3{
 
  text-decoration: none;
 color: #D674EE;
 font-weight: 700;

}


.nav__item:hover #nav4{
 
  text-decoration: none;
 color: #BAB700;
font-weight: 700;
}

.nav__item:hover #nav5{
  text-decoration: none;
 color: #FD7E53;
font-weight: 700;
}

.nav__thumb {
  display: block;
  width:20vw;
  height: calc(61/1920 * 100vw);
  background-color:#F9FBFF;
  border: 0.001em solid black;

}
.nav__thumb:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  opacity: 0.15;
}

.nav__label {
  position: absolute;
  top: calc(100vw * 21 / 1920);
  /* margin-right: calc(100vw * 57 / 1920); */
  /* margin-left: calc(100vw * 7 / 1920); */
 text-align: center;
  text-transform: uppercase;
  display: block;
  width: 100%;
  background-color: transparent;
  color: #000;
  font-family: 'ABC Diatype Edu-Regular';
  font-style: normal;
font-weight: 500;
  line-height: calc(23/ 1920 * 100vw);
  font-size: calc(18/ 1920 * 100vw);
  letter-spacing: -0.01em;
}
.navitalic{
  
  font-weight: bold;
}

/*** handle responisve design **/
@media (max-width: 850px) {
  .nav__label {
    font-size: 8px;
  }
 
}
@media (max-width: 720px) {
 /* .nav__label {
    display: none;
  }*/
  .nav__thumb {
    height: 30px;
  }
  .nav__thumb:before {
    font-size: 24px;
    opacity: 0.7;
  }
}

/** navigation css **/