/* screen - 4-track-your-labor-other */

/* {
  background-color: var(--alabaster);
  height: 300vh;
  min-height: 500px;
  max-height: 12161px;
  min-width: 1920px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
    margin-left:auto;
    margin-right:auto;
} */

.last-sec-green-6PR5WV {
  background-color: transparent;
  height: calc(100vw * 827 / 1920);
  left: 0;
  position: absolute;
  top: 11244px;
  margin-bottom: 132px;
  width: 100vw;
}

.line-213-2Ph6Y8 {
  background-color: transparent;
  height: 1px;
  left: 0px;
  position: absolute;
  top: calc(826 / 1920 * 100vw);
  width: 100vw;
}

.bk-2Ph6Y8 {
  background-color: var(--la-rioja);
  height: calc(100vw * 827 / 1920);
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 100vw;
}

.screen-shot-2022-05-03-at-223-1-2Ph6Y8 {
  background-color: transparent;
  height: calc(100vw * 662 / 1920);
  left: calc(100vw * 1240 / 1920);
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: calc(100vw * 82 / 1920);
  width: calc(100vw * 447 / 1920);
}

.i-conducted-a-week-l-2Ph6Y8 {
  background-color: transparent;
  height: auto;
  left: calc(100vw * 240 / 1920);
  letter-spacing: calc(100vw * -0.42 / 1920);
  line-height: calc(100vw * 48 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(100vw * 139 / 1920);
  width: calc(100vw * 628 / 1920);
}

.here-is-a-link-to-th-2Ph6Y8 {
  background-color: transparent;
  color: var(--alabaster);
  font-family: var(--font-family-abc_diatype_edu-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: calc(100vw * 240 / 1920);
  letter-spacing: calc(100vw * -0.42 / 1920);
  line-height: calc(100vw * 48 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(100vw * 531 / 1920);
  width: calc(100vw * 628 / 1920);
}

.span0-BoXXp4 {
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.18px;
  text-decoration: underline;
}

.span1-BoXXp4 {
  font-style: normal;
  letter-spacing: -0.18px;
}

.direction-div-6PR5WV {
  background-color: transparent;
  height: calc(100vw * 174 / 1920);
  left: calc(100vw * 295 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(100vw * 1923.66 / 1920);
  width: calc(100vw * 760 / 1920);
}

.answer-each-question-3zS9Bw {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-abc_diatype_edu-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: calc(100vw * 32 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(100vw * 40 / 1920);
  width: calc(100vw * 760 / 1920);
}

.directions-3zS9Bw {
  background-color: transparent;
  color: var(--la-rioja);
  font-family: var(--font-family-abc_diatype_edu-bold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0px;
  line-height: calc(100vw * 32 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x4-circle-and-text-6PR5WV {
  background-color: transparent;
  height: calc(100vw * 434 / 1920);
  left: calc(100vw * 298.09 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(100vw * 1322 / 1920);
  /* top: 0px;*/
  width: calc(100vw * 1332 / 1920);
  display: inline-block;
}

.text-Z3fL7X {
  background-color: transparent;
  height: auto;
  left: calc(100vw * 182 / 1920);
  letter-spacing: calc(100vw * -2.16 / 1920);
  line-height: calc(100vw * 72 / 1920);
  mix-blend-mode: darken;
  position: absolute;
  text-align: left;
  top: calc(100vw * 119 / 1920);
  width: calc(100vw * 1023 / 1920);
}

.span0-i7cM24 {
  letter-spacing: -1.17px;
}

.span1-i7cM24 {
  letter-spacing: -1.17px;
}

.span2-i7cM24 {
  letter-spacing: -1.17px;
}

.span3-i7cM24 {
  letter-spacing: -1.17px;
}

.circle-Z3fL7X {
  background-color: transparent;
  height: calc(100vw * 434 / 1920);
  left: calc(100vw * 161.65 / 1920);
  mix-blend-mode: darken;
  position: absolute;
  top: 0px;
  width: calc(100vw * 1332 / 1920);
  display: inline-block;
}

.x4-1landing-page-6PR5WV {
  background-color: transparent;
  height: calc(100vw * 1033 / 1920);
  left: calc(100vw * 161 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(100vw * 121 / 1920);
  width: calc(100vw * 1597 / 1920);
}

.x4-landing-pagebk-1-jgG3PP {
  background-color: transparent;
  height: calc(100vw * 1033 / 1920);
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: calc(100vw * 1597 / 1920);
}

.landing-title2-jgG3PP {
  background-color: transparent;
  height: auto;
  left: calc(100vw * 641 / 1920);
  letter-spacing: calc(100vw * -2 / 1920);
  line-height: cacl(100vw * 100 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(100vw * 267 / 1920);
  white-space: nowrap;
  width: auto;
}

.landing-title1-jgG3PP {
  background-color: transparent;
  height: auto;
  left: calc(100vw * 118 / 1920);
  letter-spacing: -4px;
  line-height: cacl(100vw * 100 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(100vw * 153 / 1920);
  white-space: nowrap;
  width: calc(100vw * 1006 / 1920);
}

.x4-circle-and-text-2-6PR5WV {
  background-color: transparent;
  height: calc(100vw * 424 / 1920);
  left: calc(100vw * 298.09 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  margin-top: 4085px;
  /* transform: translateY(100vh);*/
  width: calc(100vw * 1332 / 1920);
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #292d31;
}

.take-note-of-any-eme-xFwrUP {
  background-color: transparent;
  height: calc(210.75 / 1920 * 100vw);
  left: calc(100vw * 139 / 1920);
  letter-spacing: calc(100vw * -2.16 / 1920);
  line-height: calc(100vw * 54 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: calc(100vw * 112 / 1920);
  width: calc(100vw * 1053 / 1920);
}

.span0-fBUWnK {
  letter-spacing: calc(100vw * -1.17 / 1920);
  line-height: calc(100vw * 70 / 1920);
}

.span1-fBUWnK {
  letter-spacing: calc(100vw * -1.17 / 1920);
  line-height: calc(100vw * 72 / 1920);
}

.span2-fBUWnK {
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 600;
  letter-spacing: calc(100vw * -1.17 / 1920);
  line-height: calc(100vw * 72 / 1920);
}

.span3-fBUWnK {
  letter-spacing: calc(100vw * -1.17 / 1920);
  line-height: calc(100vw * 70 / 1920);
}

.span4-fBUWnK {
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
  letter-spacing: calc(100vw * -1.54 / 1920);
  line-height: calc(100vw * 78 / 1920);
}

.span5-fBUWnK {
  letter-spacing: calc(100vw * -1.17 / 1920);
  line-height: calc(100vw * 70 / 1920);
}

.ellipse-115-xFwrUP {
  background-color: transparent;
  height: calc(100vw * 434 / 1920);
  left: 0px;
  mix-blend-mode: darken;
  position: absolute;
  top: 0px;
  width: calc(100vw * 1332 / 1920);
}

.x4-circle-and-text-3-6PR5WV {
  background-color: transparent;
  height: calc(434 / 1920 * 100vw);
  left: calc(100vw * 293.65 / 1920);
  mix-blend-mode: normal;
  position: absolute;
  top: calc(100vw * 8410.96 / 1920);
  width: calc(100vw * 1332 / 1920);
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #292d31;
}

.ellipse-148-AAmxTv {
  background-color: transparent;
  height: calc(434 / 1920 * 100vw);
  left: 0px;
  mix-blend-mode: darken;
  position: absolute;
  top: 0px;
  width: calc(1332 / 1920 * 100vw);
}

.the-list-might-feel-AAmxTv {
  background-color: transparent;
  height: auto;
  left: calc(129 / 1920 * 100vw);
  letter-spacing: calc(-2.16 / 1920 * 100vw);
  line-height: calc(70 / 1920 * 100vw);
  mix-blend-mode: darken;
  position: absolute;
  text-align: left;
  top: calc(120 / 1920 * 100vw);
  width: calc(1069 / 1920 * 100vw);
}
