/* screen - 4-track-your-labor */

.x4-track-your-labor {
  background-color: var(--alabaster);
  height: auto;
  margin: 0px;
/*  min-height: 12161px;
  min-width: 1920px;*/
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}

.x4-track-your-labor .last-sec-green-nDlnrk {
  background-color: transparent;
  height: calc(100vw * 827 / 1920);
  left: 0;
  position: absolute;
  top: calc(100vw * 11244 / 1920);
  width: 100vw;
}

.x4-track-your-labor .line-213-tiZSqy {
  background-color: transparent;
  height: calc(100vw * 2 / 1920);
  left: calc(100vw * -1 / 1920);
  position: absolute;
  top: calc(100vw *  826 / 1920);
  width: 100vw;
}

.x4-track-your-labor .bk-tiZSqy {
  background-color: var(--la-rioja);
  height: 827px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100vw;
}

.x4-track-your-labor .screen-shot-2022-05-03-at-223-1-tiZSqy {
  background-color: transparent;
  height: 663px;
  left: 1240px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 448px;
}

.x4-track-your-labor .i-conducted-a-week-l-tiZSqy {
  background-color: transparent;
  height: auto;
  left: 240px;
  letter-spacing: -0.42px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 139px;
  width: 630px;
}

.x4-track-your-labor .here-is-a-link-to-th-tiZSqy {
  background-color: transparent;
  color: var(--alabaster);
  font-family: var(--font-family-abc_diatype_edu);
  font-size: var(--font-size-s);
  height: auto;
  left: 240px;
  letter-spacing: -0.42px;
  line-height: 48px;
  position: absolute;
  text-align: left;
  top: 531px;
  width: 630px;
}

.x4-track-your-labor .span1-lssP0m {
  font-family: var(--font-family-abc_diatype_edu-bolditalic);
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

.x4-track-your-labor .span2-lssP0m {
  font-family: var(--font-family-abc_diatype_edu-regular);
  font-style: normal;
  font-weight: 400;
}

.x4-track-your-labor .cognitive-labor-nDlnrk {
  background-color: transparent;
  height: 2045px;
  left: 132px;
  position: absolute;
  top: 2154px;
  width: 1655px;
}

.x4-track-your-labor .fraction-home-nDlnrk {
  background-color: transparent;
  height: 2129px;
  left: 132px;
  position: absolute;
  top: 8989px;
  width: 1655px;
}

.x4-track-your-labor .emerging-patterns-nDlnrk {
  background-color: transparent;
  height: 3436px;
  left: 132px;
  position: absolute;
  top: 4877px;
  width: 1655px;
}

.x4-track-your-labor .direction-div-nDlnrk {
  background-color: transparent;
  height: 174px;
  left: 295px;
  position: absolute;
  top: 1924px;
  width: 762px;
}

.x4-track-your-labor .answer-each-question-iu3pLK {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-abc_diatype_edu-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 40px;
  width: 762px;
}

.x4-track-your-labor .directions-iu3pLK {
  background-color: transparent;
  color: var(--la-rioja);
  font-family: var(--font-family-abc_diatype_edu-bold);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x4-track-your-labor .x4-circle-and-text-nDlnrk {
  background-color: transparent;
  height: 434px;
  left: 294px;
  position: absolute;
  top: 1322px;
  width: 1332px;
}

.x4-track-your-labor .text-ESrfFH {
  background-color: transparent;
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-m);
  height: auto;
  left: 182px;
  letter-spacing: -2.16px;
  line-height: 72px;
  position: absolute;
  text-align: left;
  top: 119px;
  width: 1025px;
}

.x4-track-your-labor .span1-vBTt5E {
}

.x4-track-your-labor .span2-vBTt5E {
  font-style: normal;
  font-weight: 700;
}

.x4-track-your-labor .span3-vBTt5E {
}

.x4-track-your-labor .span4-vBTt5E {
  font-style: normal;
  font-weight: 700;
}

.x4-track-your-labor .circle-ESrfFH {
  background-color: transparent;
  height: 435px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1333px;
}

.x4-track-your-labor .x4-1landing-page-nDlnrk {
  background-color: transparent;
  height: 1033px;
  left: 161px;
  position: absolute;
  top: 121px;
  width: 1597px;
}

.x4-track-your-labor .x4-landing-pagebk-1-XByA4I {
  background-color: transparent;
  height: 1033px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1597px;
}

.x4-track-your-labor .landing-title2-XByA4I {
  background-color: transparent;
  height: auto;
  left: 641px;
  letter-spacing: -2.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 267px;
  white-space: nowrap;
  width: auto;
}

.x4-track-your-labor .landing-title1-XByA4I {
  background-color: transparent;
  height: auto;
  left: 118px;
  letter-spacing: -4.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 153px;
  white-space: nowrap;
  width: 1008px;
}

.x4-track-your-labor .x4-circle-and-text-2-nDlnrk {
  background-color: transparent;
  height: 434px;
  left: 298px;
  position: absolute;
  top: 4326px;
  width: 1332px;
}

.x4-track-your-labor .take-note-of-any-eme-ben3DV {
  background-color: transparent;
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-m);
  height: auto;
  left: 139px;
  position: absolute;
  text-align: left;
  top: 112px;
  width: 1055px;
}

.x4-track-your-labor .span1-F8xgYf {
  letter-spacing: -2.16px;
  line-height: 70px;
}

.x4-track-your-labor .span2-F8xgYf {
  font-family: var(--font-family-epilogue-bolditalic);
  font-style: italic;
  font-weight: 700;
  letter-spacing: -2.16px;
  line-height: 72px;
}

.x4-track-your-labor .span3-F8xgYf {
  font-family: var(--font-family-epilogue-semibolditalic);
  font-style: italic;
  font-weight: 600;
  letter-spacing: -2.16px;
  line-height: 72px;
}

.x4-track-your-labor .span4-F8xgYf {
  letter-spacing: -2.16px;
  line-height: 70px;
}

.x4-track-your-labor .span5-F8xgYf {
  font-family: var(--font-family-epilogue-bolditalic);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 700;
  letter-spacing: -2.48px;
  line-height: 78px;
}

.x4-track-your-labor .span6-F8xgYf {
  font-family: var(--font-family-epilogue-bolditalic);
  font-style: italic;
  font-weight: 700;
  letter-spacing: -2.16px;
  line-height: 72px;
}

.x4-track-your-labor .ellipse-115-ben3DV {
  background-color: transparent;
  height: 435px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1333px;
}

.x4-track-your-labor .x4-circle-and-text-3-nDlnrk {
  background-color: transparent;
  height: 434px;
  left: 294px;
  position: absolute;
  top: 8411px;
  width: 1332px;
}

.x4-track-your-labor .ellipse-148-QvVxHD {
  background-color: transparent;
  height: 435px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1333px;
}

.x4-track-your-labor .the-list-might-feel-QvVxHD {
  background-color: transparent;
  height: auto;
  left: 129px;
  letter-spacing: -2.16px;
  line-height: 70px;
  position: absolute;
  text-align: left;
  top: 120px;
  width: 1071px;
}
