/* screen - navigation */

.navigation {
  background-color: transparent;
  height: 60.9px;
  mix-blend-mode: normal;
  overflow-x: hidden;
  position: relative;
  width: 1920.28px;
}

.navigation .cle-button-JhN9hI {
  background-color: transparent;
  height: 61px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 384px;
}

.navigation .rectangle-43-kyowOt {
  background-color: var(--alabaster);
  height: 61px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 384px;
}

.navigation .cognitive-labor-explained-kyowOt {
  background-color: transparent;
  color: var(--orange-soda);
  font-family: var(--font-family-abc_diatype_edu-bolditalic);
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  height: auto;
  left: 41px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 20px;
  width: auto;
}

.navigation .le-button-JhN9hI {
  background-color: transparent;
  height: 61px;
  left: 384px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 384px;
}

.navigation .rectangle-53-26K53j {
  background-color: var(--alabaster);
  height: 61px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 384px;
}

.navigation .lived-experiences-26K53j {
  background-color: transparent;
  height: auto;
  left: 78px;
  letter-spacing: 0.23px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 251px;
}

.navigation .line-2-26K53j {
  background-color: transparent;
  height: 61px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 1px;
}

.navigation .lpap-button-JhN9hI {
  background-color: transparent;
  height: 61px;
  left: 767px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 383px;
}

.navigation .rectangle-56-IO3nWb {
  background-color: var(--alabaster);
  height: 61px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 383px;
}

.navigation .lets-plan-a-party-IO3nWb {
  background-color: transparent;
  height: auto;
  left: 100px;
  letter-spacing: 0.23px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 22px;
  width: auto;
}

.navigation .line-3-IO3nWb {
  background-color: transparent;
  height: 61px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 1px;
}

.navigation .tyl-button-JhN9hI {
  background-color: transparent;
  height: 61px;
  left: 1150px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 383px;
}

.navigation .rectangle-54-udxAyn {
  background-color: var(--alabaster);
  height: 61px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 383px;
}

.navigation .track-your-labor-udxAyn {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.23px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22px;
  width: auto;
}

.navigation .line-4-udxAyn {
  background-color: transparent;
  height: 61px;
  left: 1px;
  position: absolute;
  top: -0px;
  width: 1px;
}

.navigation .fte-button-JhN9hI {
  background-color: transparent;
  height: 61px;
  left: 1533px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 388px;
}

.navigation .rectangle-55-txCxZK {
  background-color: var(--alabaster);
  height: 61px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 388px;
}

.navigation .from-the-experts-txCxZK {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.23px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22px;
  width: auto;
}

.navigation .line-5-txCxZK {
  background-color: transparent;
  height: 61px;
  left: 2px;
  position: absolute;
  top: -0px;
  width: 1px;
}

.navigation .bottomline-JhN9hI {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 61px;
  width: 1921px;
}
