/** navigation css **/
a {
  text-decoration: none
  color:inherit;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav {
  will-change: transform;
  position: fixed;
  top: 0;
  left: 0;
  width: 120vw;
  height: 40px;
  z-index: 1;
  background: #1a1a1a;
 font-size: 18px;
 letter-spacing: 0.09em;

}
.nav--active {
  transform: translateY(0);
}
.nav__list {
  display: inline-flex;

}
.nav__item {
  flex: 1;
  position: relative;

}

.nav__item:hover #nav1{

  text-decoration: none;
 color:#F65735;
 font-weight: 700;
}

.nav__item:hover #nav2{

  text-decoration: none;
 color:#395B50;
 font-weight: 700;
}

.nav__item:hover #nav3{
 
  text-decoration: none;
 color: #D674EE;
 font-weight: 700;

}


.nav__item:hover #nav4{
 
  text-decoration: none;
 color: #BAB700;
font-weight: 700;
}

.nav__item:hover #nav5{
  text-decoration: none;
 color: #FD7E53;
font-weight: 700;
}

.nav__thumb {
  display: block;
  width:20vw;
  height: 61px;
  background-color:white;
  border: 0.001em solid black;

}
.nav__thumb:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  opacity: 0.15;
}
.nav__label {
  position: absolute;
  top: 1.5vh;
  right: -2vw;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  display: block;
  width: 120%;
  background-color: transparent;

}
.navitalic{
  
  font-style: italic;
}

/*** handle responisve design **/
@media (max-width: 850px) {
  .nav__label {
    font-size: 8px;
  }
  body{
    width:800px;
    height:auto;
  }
}
@media (max-width: 720px) {
 /* .nav__label {
    display: none;
  }*/
  .nav__thumb {
    height: 30px;
  }
  .nav__thumb:before {
    font-size: 24px;
    opacity: 0.7;
  }
}

/** navigation css **/