/* screen - 5-from-the-experts */

.x5-from-the-experts {
  background-color: #f9fbff;
  height: 100vh;
  margin: 0px;
  min-height: 9147px;
  min-width: 1920px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.x5-from-the-experts .foot_note-BKK1YR {
  background-color: transparent;
  height: 61px;
  left: 0px;
  position: absolute;
  top: 9056px;
  width: 1920px;
}

.x5-from-the-experts .the-invisible-weight-of-cognitive-labor-1ntnAC {
  background-color: transparent;
  color: var(--baltic-sea);
  font-family: var(--font-family-abc_diatype_edu-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: 47.23%;
  left: 2.90%;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 52.77%;
  width: 26.30%;
}

.x5-from-the-experts .back-to-top-1ntnAC {
  background-color: transparent;
  color: var(--baltic-sea);
  font-family: var(--font-family-abc_diatype_edu-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
  height: 47.23%;
  left: 88.81%;
  letter-spacing: 0.29px;
  line-height: normal;
  position: absolute;
  text-align: right;
  top: 49.52%;
  width: 7.97%;
}

.x5-from-the-experts .line-213-1ntnAC {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 1920px;
}

.x5-from-the-experts .i-interviewed-alliso-BKK1YR {
  background-color: transparent;
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 506px;
  letter-spacing: -2.16px;
  line-height: 70px;
  position: absolute;
  text-align: left;
  top: 1328px;
  width: 993px;
}

.x5-from-the-experts .ellipse-148-BKK1YR {
  background-color: transparent;
  height: 435px;
  left: 296px;
  position: absolute;
  top: 1248px;
  width: 1332px;
}

.x5-from-the-experts .addition_res-BKK1YR {
  background-color: transparent;
  height: 576px;
  left: 130px;
  position: absolute;
  top: 8318px;
  width: 1659px;
}

.x5-from-the-experts .additional-resources-cxwVHE {
  background-color: transparent;
  color: var(--black);
  font-family: var(--font-family-freighttext_pro-bookitalic);
  font-size: var(--font-size-xl);
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: -0.21px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x5-from-the-experts .line-214-cxwVHE {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 71px;
  width: 1659px;
}

.x5-from-the-experts .line-215-cxwVHE {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 155px;
  width: 1659px;
}

.x5-from-the-experts .line-216-cxwVHE {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 239px;
  width: 1659px;
}

.x5-from-the-experts .line-217-cxwVHE {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 323px;
  width: 1659px;
}

.x5-from-the-experts .line-219-cxwVHE {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 407px;
  width: 1659px;
}

.x5-from-the-experts .line-221-cxwVHE {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 491px;
  width: 1659px;
}

.x5-from-the-experts .line-223-cxwVHE {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 575px;
  width: 1659px;
}

.x5-from-the-experts .fair-play-deck-by-eve-rodsky-cxwVHE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 262px;
  width: auto;
}

.x5-from-the-experts .the-cognitive-dimens-cxwVHE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 94px;
  width: auto;
}

.x5-from-the-experts .the-mental-load-a-feminist-comic-by-emma-cxwVHE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 346px;
  width: auto;
}

.x5-from-the-experts .de-genered-processes-cxwVHE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 178px;
  width: auto;
}

.x5-from-the-experts .more-work-for-mother-cxwVHE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 430px;
  width: auto;
}

.x5-from-the-experts .the-second-shift-by-arlie-hochschild-cxwVHE {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 514px;
  width: auto;
}

.x5-from-the-experts .arrow-cxwVHE {
  background-color: transparent;
  height: 26px;
  left: 1602px;
  position: absolute;
  top: 269px;
  width: 26px;
}

.x5-from-the-experts .arrow-BkKvor {
  background-color: transparent;
  height: 26px;
  left: 1602px;
  position: absolute;
  top: 353px;
  width: 26px;
}

.x5-from-the-experts .arrow-oAktdj {
  background-color: transparent;
  height: 26px;
  left: 1602px;
  position: absolute;
  top: 101px;
  width: 26px;
}

.x5-from-the-experts .arrow-C2WuSw {
  background-color: transparent;
  height: 26px;
  left: 1602px;
  position: absolute;
  top: 185px;
  width: 26px;
}

.x5-from-the-experts .arrow-OLfB0q {
  background-color: transparent;
  height: 26px;
  left: 1602px;
  position: absolute;
  top: 437px;
  width: 26px;
}

.x5-from-the-experts .arrow-PtUwkw {
  background-color: transparent;
  height: 26px;
  left: 1602px;
  position: absolute;
  top: 514px;
  width: 26px;
}

.x5-from-the-experts .i-experimented-with-BKK1YR {
  background-color: transparent;
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xxl);
  height: auto;
  left: 387px;
  letter-spacing: -2.16px;
  line-height: 54px;
  position: absolute;
  text-align: left;
  top: 5825px;
  width: 1208px;
}

.x5-from-the-experts .span1-yL8dgY {
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}

.x5-from-the-experts .span2-yL8dgY {
  font-style: italic;
  font-weight: 700;
  line-height: 72px;
}

.x5-from-the-experts .span3-yL8dgY {
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}

.x5-from-the-experts .rectangle-16-BKK1YR {
  background-color: transparent;
  border: 1.5px solid var(--coral);
  border-radius: 20px;
  height: 400px;
  left: 296px;
  position: absolute;
  top: 5729px;
  width: 1332px;
}

.x5-from-the-experts .interview-section-BKK1YR {
  background-color: transparent;
  height: 3716px;
  left: 488px;
  position: absolute;
  top: 1835px;
  width: 946px;
}

.x5-from-the-experts .q1-suxSUs {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.21px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 80px;
  width: 690px;
}

.x5-from-the-experts .q2-suxSUs {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.21px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 1182px;
  width: 694px;
}

.x5-from-the-experts .q3-suxSUs {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.21px;
  line-height: 50px;
  position: absolute;
  text-align: left;
  top: 2333px;
  width: 653px;
}

.x5-from-the-experts .a1-suxSUs {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 370px;
  width: 946px;
}

.x5-from-the-experts .span1-d4Raop {
}

.x5-from-the-experts .span2-d4Raop {
}

.x5-from-the-experts .span3-d4Raop {
}

.x5-from-the-experts .a2-suxSUs {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 1420px;
  width: 946px;
}

.x5-from-the-experts .a3-suxSUs {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 2520px;
  width: 946px;
}

.x5-from-the-experts .span1-SOqKyM {
}

.x5-from-the-experts .span2-SOqKyM {
}

.x5-from-the-experts .span3-SOqKyM {
}

.x5-from-the-experts .alison_intro-suxSUs {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 3483px;
  width: 653px;
}

.x5-from-the-experts .span1-L63NbQ {
  color: var(--black);
  font-family: var(--font-family-abc_diatype_edu-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
  text-decoration: underline;
}

.x5-from-the-experts .span2-L63NbQ {
}

.x5-from-the-experts .excerpts-from-my-interview-are-below-suxSUs {
  background-color: transparent;
  color: var(--baltic-sea);
  font-family: var(--font-family-abc_diatype_edu-bolditalic);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x5-from-the-experts .about-allison-daminger-suxSUs {
  background-color: transparent;
  color: var(--baltic-sea);
  font-family: var(--font-family-abc_diatype_edu-bolditalic);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 3117px;
  white-space: nowrap;
  width: 404px;
}

.x5-from-the-experts .alison_thumbnail-suxSUs {
  background-color: transparent;
  height: 271px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 3170px;
  width: 222px;
}

.x5-from-the-experts .img_2477-BKK1YR {
  background-color: transparent;
  height: 486px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 6316px;
  width: 648px;
}

.x5-from-the-experts .this-exercise-is-mea-BKK1YR {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-abc_diatype_edu);
  font-size: var(--font-size-m);
  height: auto;
  left: 870px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 6316px;
  width: 889px;
}

.x5-from-the-experts .span1-xUg7Sy {
  color: var(--coral);
  font-family: var(--font-family-abc_diatype_edu-bold);
  font-style: normal;
  font-weight: 700;
}

.x5-from-the-experts .span2-xUg7Sy {
}

.x5-from-the-experts .span3-xUg7Sy {
}

.x5-from-the-experts .battleship-stickers-push-pins-BKK1YR {
  background-color: transparent;
  height: 916px;
  left: 870px;
  position: absolute;
  top: 7208px;
  width: 737px;
}

.x5-from-the-experts .img_2477-NGYE6W {
  background-color: var(--mist-gray);
  height: 324px;
  left: 40px;
  position: absolute;
  top: 50px;
  transform: rotate(-90.00deg);
  width: 243px;
}

.x5-from-the-experts .img_2477-Uoghgx {
  background-color: var(--mist-gray);
  height: 324px;
  left: 40px;
  position: absolute;
  top: 341px;
  transform: rotate(-90.00deg);
  width: 243px;
}

.x5-from-the-experts .img_2477-Fg7Qyw {
  background-color: var(--mist-gray);
  height: 324px;
  left: 40px;
  position: absolute;
  top: 632px;
  transform: rotate(-90.00deg);
  width: 243px;
}

.x5-from-the-experts .battleship-NGYE6W {
  background-color: transparent;
  height: auto;
  left: 362px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 87px;
  white-space: nowrap;
  width: auto;
}

.x5-from-the-experts .stickers-NGYE6W {
  background-color: transparent;
  height: auto;
  left: 362px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 378px;
  white-space: nowrap;
  width: auto;
}

.x5-from-the-experts .push-pins-NGYE6W {
  background-color: transparent;
  height: auto;
  left: 362px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 671px;
  white-space: nowrap;
  width: auto;
}

.x5-from-the-experts .dont-have-a-lite-bri-NGYE6W {
  background-color: transparent;
  color: var(--coral);
  font-family: var(--font-family-abc_diatype_edu-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x5-from-the-experts .x5-landingpage-BKK1YR {
  background-color: transparent;
  height: 1033px;
  left: 162px;
  position: absolute;
  top: 121px;
  width: 1595px;
}

.x5-from-the-experts .x5-landingpage-1-v8xIEp {
  background-color: transparent;
  height: 1033px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 1595px;
}

.x5-from-the-experts .and-other-resources-v8xIEp {
  background-color: transparent;
  color: #ffffff;
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xxxl);
  font-style: italic;
  font-weight: 600;
  height: auto;
  left: 322px;
  letter-spacing: -4.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 713px;
  white-space: nowrap;
  width: auto;
}

.x5-from-the-experts .i-interviewed-an-expert-v8xIEp {
  background-color: transparent;
  color: #ffffff;
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 46px;
  letter-spacing: -4.00px;
  line-height: 100px;
  position: absolute;
  text-align: left;
  top: 611px;
  white-space: nowrap;
  width: auto;
}


/*.the-cognitive-dimens-cxwVHE:hover{
  color: red;
}*/
.rImg1,#rImg2,#rImg3{
  display: none;
}


.the-cognitive-dimens-cxwVHE:hover .rImg1{
  display: block;
  background-color: red;
  width: 100vw;
  height: 300px;
  margin: 0 auto;
}