/* screen - 3let-s-plan-a-party */

.x3let-s-plan-a-party {
  background-color: var(--alabaster);
  height: 100vh;
  margin: 0px;
  min-height: 5426px;
  min-width: 1920px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

.x3let-s-plan-a-party .section1-aMA12v {
  background-color: transparent;
  height: 1809px;
  left: -856px;
  mix-blend-mode: normal;
  position: absolute;
  top: -692px;
  width: 2799px;
}

.x3let-s-plan-a-party .sec1-pg3_purpleimg1-1-QFDS5x {
  background-color: transparent;
  height: 1118px;
  left: 854px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 692px;
  width: 1916px;
}

.x3let-s-plan-a-party .sec1-body-QFDS5x {
  background-color: transparent;
  color: var(--alabaster);
  font-family: var(--font-family-abc_diatype_edu-medium);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 1668px;
  letter-spacing: -0.52px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1626px;
  width: 844px;
}

.x3let-s-plan-a-party .sec1-title-QFDS5x {
  background-color: transparent;
  height: auto;
  left: 1661px;
  letter-spacing: -2.16px;
  line-height: normal;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1493px;
  width: auto;
}

.x3let-s-plan-a-party .sec2-quote1-aMA12v {
  background-color: transparent;
  height: 415px;
  left: 162px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1265px;
  width: 945px;
}

.x3let-s-plan-a-party .quote-body-R9u8nN {
  background-color: transparent;
  color: var(--baltic-sea);
  font-family: var(--font-family-abc_diatype_edu-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: -0.52px;
  line-height: 67px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 945px;
}

.x3let-s-plan-a-party .quote-from-R9u8nN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 112px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 315px;
  white-space: nowrap;
  width: 290px;
}

.x3let-s-plan-a-party .span0-BmTaAn {
}

.x3let-s-plan-a-party .span1-BmTaAn {
}

.x3let-s-plan-a-party .sec2-quote2-aMA12v {
  background-color: transparent;
  height: 421px;
  left: 812px;
  mix-blend-mode: normal;
  position: absolute;
  top: 1735px;
  width: 945px;
}

.x3let-s-plan-a-party .quote-from-4Pwzx2 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 112px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 317px;
  white-space: nowrap;
  width: 290px;
}

.x3let-s-plan-a-party .span0-8BWODM {
}

.x3let-s-plan-a-party .span1-8BWODM {
}

.x3let-s-plan-a-party .quote-body-4Pwzx2 {
  background-color: transparent;
  color: var(--baltic-sea);
  font-family: var(--font-family-abc_diatype_edu-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: -0.52px;
  line-height: 67px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 945px;
}

.x3let-s-plan-a-party .sec2-purple-circletext-aMA12v {
  background-color: transparent;
  height: 640px;
  left: 162px;
  mix-blend-mode: normal;
  position: absolute;
  top: 2315px;
  width: 1595px;
}

.x3let-s-plan-a-party .purple-circletext-cklfwy {
  background-color: transparent;
  height: auto;
  left: 325px;
  letter-spacing: -2.48px;
  line-height: 62px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 184px;
  width: 975px;
}

.x3let-s-plan-a-party .span0-uz5p57 {
  letter-spacing: -1.54px;
  line-height: 78px;
}

.x3let-s-plan-a-party .span1-uz5p57 {
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -2.07px;
  line-height: 88px;
}

.x3let-s-plan-a-party .span2-uz5p57 {
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -2.07px;
  line-height: 88px;
}

.x3let-s-plan-a-party .purple-circle-bk-cklfwy {
  background-color: transparent;
  height: 640px;
  left: 0px;
  mix-blend-mode: darken;
  position: absolute;
  top: 0px;
  width: 1595px;
}

.x3let-s-plan-a-party .sec2-drag-n-drop-aMA12v {
  background-color: transparent;
  height: 1318px;
  left: 29px;
  mix-blend-mode: normal;
  position: absolute;
  top: 3115px;
  width: 1861px;
}

#dragArea{
  position: absolute;
width: 336px;
height: 112px;
left: 26.89px;
top: 706.25px;
background-color: lightcoral;
}
.x3let-s-plan-a-party .draggleable-elements-si5yhI {
  background-color: transparent;
  height: 486px;
  left: 82px;
  mix-blend-mode: normal;
  position: absolute;
  top: 45px;
  width: 1710px;
    z-index: 2;
}
#grid-main_content {
position: absolute;
width: 336px;
height: 112px;
left: 26.89px;
top: 706.25px;
background: yellow;

}
.ui-helper {
    width: 706.25px !important;
}
.x3let-s-plan-a-party .dragable-text18-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 112px;
  white-space: nowrap;
  width: auto;
  display: block;

}

.x3let-s-plan-a-party .dragable-text17-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 1076px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 184px;
  width: 588px;
}

.x3let-s-plan-a-party .dragable-text16-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 895px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 441px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text15-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 510px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 408px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text14-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 1167px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 105px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text13-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 99px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 266px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text12-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 724px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 321px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text11-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 778px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 181px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text10-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 993px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text09-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 995px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 368px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text08-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 1076px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 260px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text07-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 1025px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 308px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text06-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 699px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text05-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 748px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 240px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text04-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 447px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text03-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 112px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 321px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text02-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 129px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 200px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dragable-text01-25x0Gm {
  background-color: transparent;
  height: auto;
  left: 101px;
  letter-spacing: -0.14px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 375px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .sec2-dd-rect-frame-si5yhI {
  background-color: transparent;
  height: 1274px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 1861px;
}

.x3let-s-plan-a-party .line-136-RvWXYl {
  background-color: transparent;
  height: 679px;
  left: 382px;
  position: absolute;
  top: 591px;
  width: 2px;
}

.x3let-s-plan-a-party .line-137-RvWXYl {
  background-color: transparent;
  height: 679px;
  left: 763px;
  position: absolute;
  top: 591px;
  width: 2px;
}

.x3let-s-plan-a-party .line-138-RvWXYl {
  background-color: transparent;
  height: 679px;
  left: 1143px;
  position: absolute;
  top: 591px;
  width: 2px;
}

.x3let-s-plan-a-party .line-139-RvWXYl {
  background-color: transparent;
  height: 679px;
  left: 1500px;
  position: absolute;
  top: 591px;
  width: 2px;
}

.x3let-s-plan-a-party .line-140-RvWXYl {
  background-color: transparent;
  height: 2px;
  left: 0px;
  position: absolute;
  top: 590px;
  width: 1860px;
}

.x3let-s-plan-a-party .sec2-dd-rectbk-RvWXYl {
  background-color: transparent;
  border-radius: 20px;
  height: 1274px;
  left: 1px;
  position: absolute;
  top: 0px;
  width: 1860px;
}

.x3let-s-plan-a-party .sec2-dd-title-RvWXYl {
  background-color: transparent;
  height: 39px;
  left: 132px;
  mix-blend-mode: normal;
  position: absolute;
  top: 629px;
  width: 1600px;
}

.x3let-s-plan-a-party .x4-weeks-xln3Va {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.42px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .x3-weeks-xln3Va {
  background-color: transparent;
  height: auto;
  left: 379px;
  letter-spacing: 0.42px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .x2-weeks-xln3Va {
  background-color: transparent;
  height: auto;
  left: 760px;
  letter-spacing: 0.42px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .x1-week-xln3Va {
  background-color: transparent;
  height: auto;
  left: 1141px;
  letter-spacing: 0.42px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .day-of-xln3Va {
  background-color: transparent;
  height: auto;
  left: 1498px;
  letter-spacing: 0.42px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .dd-title-si5yhI {
  background-color: transparent;
  height: 39px;
  left: 132px;
  mix-blend-mode: normal;
  position: absolute;
  top: 41px;
  width: 885px;
}

.x3let-s-plan-a-party .drag-and-drop-each-task-below-s0worA {
  background-color: transparent;
  color: var(--heliotrope);
  font-family: var(--font-family-abc_diatype_edu-bold);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.72px;
  line-height: 39px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.x3let-s-plan-a-party .minions-party-gif-1-aMA12v {
  background-color: transparent;
  height: 196px;
  left: 1594px;
  mix-blend-mode: normal;
  object-fit: cover;
  position: absolute;
  top: 4236px;
  width: 277px;
}
