/* screen - 2-lived-experiences */

.x2-lived-experiences {
  background-color: var(--alabaster);
  height:calc((100vw* 8280)/1920);
  overflow: hidden;
  position: relative;
  width:calc((100vw * 1920)/1920);
}

.x2-lived-experiences .foot-text {
  left: calc((100vw* 60)/1920);
  letter-spacing:c0;
  position: absolute;
  top:calc((100vw * 8220)/1920);
}

.x2-lived-experiences .overlap-group8 {
  height:calc((100vw* 2902)/1920);
  left: calc((100vw* -195)/1920);
  position: absolute;
  top:calc((100vw * 1799)/1920);
  width:calc((100vw * 2192)/1920);
}

.x2-lived-experiences .wendy_quote {
  height:calc((100vw* 93)/1920);
  left: calc((100vw* 520)/1920);
  position: absolute;
  top:0;
  width:calc((100vw * 650)/1920);
}

.x2-lived-experiences .wendy-56-retired-tacoma-wa {
  left: 0;
  letter-spacing:c0;
  position: absolute;
  top:calc((100vw * 63)/1920);
}

.x2-lived-experiences .very-rarely-will-he {
  left: 0;
  letter-spacing:calc((100vw * -0.31)/1920);
  line-height:calc((100vw* 44)/1920);
  position: absolute;
  top:calc((100vw * -1)/1920);
  white-space: nowrap;
  width:calc((100vw * 650)/1920);
}

.x2-lived-experiences .green-rect-sec1 {
  background-color: var(--stromboli);
  height:calc((100vw* 1000)/1920);
  left: calc((100vw* 195)/1920);
  position: absolute;
  top:calc((100vw * 495)/1920);
  width:calc((100vw * 1920)/1920);
}

.x2-lived-experiences .overlap-group {
  border-radius:calc((100vw * 30)/1920);
  height:calc((100vw* 60)/1920);
  left: calc((100vw* 782)/1920);
  position: absolute;
  top:calc((100vw * 571)/1920);
  width:calc((100vw * 60)/1920);
}

.x2-lived-experiences .icon-play {
  height:calc((100vw* 26)/1920);
  left: calc((100vw* 18)/1920);
  position: absolute;
  top:calc((100vw * 16)/1920);
  width:calc((100vw * 23)/1920);
}

.x2-lived-experiences .ellipse-197 {
  border-radius:calc((100vw * 30)/1920);
  height:calc((100vw* 60)/1920);
  left: 0;
  position: absolute;
  top:0;
  width:calc((100vw * 60)/1920);
}

.x2-lived-experiences .overlap-group1 {
  border-radius:calc((100vw * 20)/1920);
  height:calc((100vw* 400)/1920);
  left: calc((100vw* 295)/1920);
  position: absolute;
  top:calc((100vw * 90)/1920);
  width:calc((100vw * 1332)/1920);
}

.x2-lived-experiences .cognitive-labor-is-n {
  color: var(--coral);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xl2);
  font-weight: 500;
  left: calc((100vw* 78)/1920);
  letter-spacing:calc((100vw * -2.16)/1920);
  line-height:calc((100vw* 70)/1920);
  position: absolute;
  top:calc((100vw * 89)/1920);
  width:calc((100vw * 1175)/1920);
}

.x2-lived-experiences .rectangle-215 {
  border: 1px solid var(--coral);
  border-radius:calc((100vw * 20)/1920);
  height:calc((100vw* 400)/1920);
  left: 0;
  position: absolute;
  top:0;
  width:calc((100vw * 1332)/1920);
}

.x2-lived-experiences .carolyn_quote {
  height:calc((100vw* 306)/1920);
  left: calc((100vw* 900)/1920);
  position: absolute;
  top:calc((100vw * 575)/1920);
  width:calc((100vw * 695)/1920);
}

.x2-lived-experiences .carolyn-37-stay-a {
  left: 0;
  letter-spacing:c0;
  position: absolute;
  top:calc((100vw * 276)/1920);
  width:calc((100vw * 543)/1920);
}

.x2-lived-experiences .i-feel-like-weve-h {
  left: 0;
  letter-spacing:calc((100vw * -0.31)/1920);
  line-height:calc((100vw* 44)/1920);
  position: absolute;
  top:calc((100vw * -1)/1920);
  width:calc((100vw * 695)/1920);
}

.x2-lived-experiences .overlap-group2 {
  height:calc((100vw* 434)/1920);
  left: calc((100vw* 488)/1920);
  position: absolute;
  top:calc((100vw * 1927)/1920);
  width:calc((100vw * 1332)/1920);
}

.x2-lived-experiences .i-asked-the-question {
  left: calc((100vw* 138)/1920);
  letter-spacing:calc((100vw * -2.16)/1920);
  line-height:calc((100vw* 72)/1920);
  mix-blend-mode: darken;
  position: absolute;
  top:calc((100vw * 155)/1920);
  width:calc((100vw * 1056)/1920);
}

.x2-lived-experiences .span-1 {
  letter-spacing:calc((100vw * -1.17)/1920);
}

.x2-lived-experiences .span1 {
  color: var(--stromboli);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xl2);
  font-weight: 600;
  letter-spacing:calc((100vw * -1.17)/1920);
}

.x2-lived-experiences .ellipse {
  height:calc((100vw* 434)/1920);
  left: 0;
  mix-blend-mode: darken;
  position: absolute;
  top:0;
  width:calc((100vw * 1332)/1920);
}

.x2-lived-experiences .floating-text_7 {
  left: calc((100vw* 979)/1920);
  letter-spacing:calc((100vw * -0.16)/1920);
  line-height:calc((100vw* 39)/1920);
  position: absolute;
  top:calc((100vw * 2668)/1920);
  width:calc((100vw * 556)/1920);
}

.x2-lived-experiences .floating-text_6 {
  left: calc((100vw* 739)/1920);
  letter-spacing:calc((100vw * -0.16)/1920);
  line-height:calc((100vw* 39)/1920);
  position: absolute;
  top:calc((100vw * 2418)/1920);
  width:calc((100vw * 431)/1920);
}

.x2-lived-experiences .floating-text_5 {
  left: calc((100vw* 1377)/1920);
  letter-spacing:calc((100vw * -0.16)/1920);
  line-height:calc((100vw* 39)/1920);
  position: absolute;
  top:calc((100vw * 1697)/1920);
  width:calc((100vw * 503)/1920);
}

.x2-lived-experiences .floating-text_3 {
  left: calc((100vw* 550)/1920);
  letter-spacing:calc((100vw * -0.16)/1920);
  line-height:calc((100vw* 39)/1920);
  position: absolute;
  top:calc((100vw * 343)/1920);
  white-space: nowrap;
}

.x2-lived-experiences .floating-image_7 {
  height:calc((100vw* 724)/1920);
  left: calc((100vw* 1423)/1920);
  object-fit: cover;
  position: absolute;
  top:calc((100vw * 2177)/1920);
  width:calc((100vw * 769)/1920);
}

.x2-lived-experiences .floating-image_6 {
  height:calc((100vw* 520)/1920);
  left: calc((100vw* 307)/1920);
  object-fit: cover;
  position: absolute;
  top:calc((100vw * 2322)/1920);
  width:calc((100vw * 509)/1920);
}

.x2-lived-experiences .bubbles-container {
  height:calc((100vw* 506)/1920);
  left: calc((100vw* 1442)/1920);
  position: absolute;
  top:calc((100vw * 1327)/1920);
  width:calc((100vw * 616)/1920);
}

.x2-lived-experiences .x3-bubbles-1 {
  height:calc((100vw* 340)/1920);
  left: 0;
  position: absolute;
  top:0;
  width:calc((100vw * 354)/1920);
}

.x2-lived-experiences .x3-bubbles-2 {
  height:calc((100vw* 179)/1920);
  left: calc((100vw* 429)/1920);
  position: absolute;
  top:calc((100vw * 327)/1920);
  width:calc((100vw * 186)/1920);
}

.x2-lived-experiences .x3-bubbles-3 {
  height:calc((100vw* 216)/1920);
  left: calc((100vw* 314)/1920);
  position: absolute;
  top:calc((100vw * 238)/1920);
  width:calc((100vw * 221)/1920);
}

.x2-lived-experiences .floating-image_4 {
  height:calc((100vw* 981)/1920);
  left: calc((100vw* 62)/1920);
  object-fit: cover;
  position: absolute;
  top:calc((100vw * 1217)/1920);
  width:calc((100vw * 715)/1920);
}

.x2-lived-experiences .leftovers-1 {
  height:calc((100vw* 655)/1920);
  left: calc((100vw* 97)/1920);
  object-fit: cover;
  position: absolute;
  top:calc((100vw * 89)/1920);
  width:calc((100vw * 460)/1920);
}

.x2-lived-experiences .nancy_quote {
  height:calc((100vw* 178)/1920);
  left: calc((100vw* 817)/1920);
  position: absolute;
  top:calc((100vw * 1991)/1920);
  width:calc((100vw * 940)/1920);
}

.x2-lived-experiences .nancy-39-design-c {
  left: 0;
  letter-spacing:c0;
  position: absolute;
  top:calc((100vw * 148)/1920);
}

.x2-lived-experiences .i-dont-feel-like-i {
  left: 0;
  letter-spacing:calc((100vw * -0.31)/1920);
  line-height:calc((100vw* 44)/1920);
  position: absolute;
  top:calc((100vw * -1)/1920);
  width:calc((100vw * 940)/1920);
}

.x2-lived-experiences .overlap-group10 {
  height:calc((100vw* 830)/1920);
  left: calc((100vw* 295)/1920);
  position: absolute;
  top:calc((100vw * 5886)/1920);
  width:calc((100vw * 1551)/1920);
}

.x2-lived-experiences .overlap-group-1 {
  border-radius:calc((100vw * 20)/1920);
  height:calc((100vw* 400)/1920);
  left: 0;
  position: absolute;
  top:0;
  width:calc((100vw * 1332)/1920);
}

.x2-lived-experiences .its-much-easier-to {
  left: calc((100vw* 122)/1920);
  letter-spacing:calc((100vw * -2.16)/1920);
  line-height:calc((100vw* 70)/1920);
  mix-blend-mode: darken;
  position: absolute;
  top:calc((100vw * 86)/1920);
  width:calc((100vw * 1085)/1920);
}

.x2-lived-experiences .rectangle-16 {
  border: 1px solid var(--stromboli);
  border-radius:calc((100vw * 20)/1920);
  height:calc((100vw* 400)/1920);
  left: 0;
  position: absolute;
  top:0;
  width:calc((100vw * 1332)/1920);
}

.x2-lived-experiences .floating-image_9 {
  height:calc((100vw* 543)/1920);
  left: calc((100vw* 1193)/1920);
  object-fit: cover;
  position: absolute;
  top:calc((100vw * 287)/1920);
  width:calc((100vw * 358)/1920);
}

.x2-lived-experiences .overlap-group6 {
  height:calc((100vw* 1000)/1920);
  left: 0;
  position: absolute;
  top:calc((100vw * 7179)/1920);
  width:calc((100vw * 1920)/1920);
}

.x2-lived-experiences .green-rect-sec {
  background-color: var(--stromboli);
  height:calc((100vw* 1000)/1920);
  left: 0;
  position: absolute;
  top:0;
  width:calc((100vw * 1920)/1920);
}

.x2-lived-experiences .overlap-group-2 {
  border-radius:calc((100vw * 30)/1920);
  height:calc((100vw* 60)/1920);
  left: calc((100vw* 782)/1920);
  position: absolute;
  top:calc((100vw * 598)/1920);
  width:calc((100vw * 60)/1920);
}

.x2-lived-experiences .nancy2quote {
  height:calc((100vw* 310)/1920);
  left: calc((100vw* 894)/1920);
  position: absolute;
  top:calc((100vw * 597)/1920);
  width:calc((100vw * 678)/1920);
}

.x2-lived-experiences .nancy-39-design-c-1 {
  left: 0;
  letter-spacing:c0;
  position: absolute;
  top:calc((100vw * 280)/1920);
}

.x2-lived-experiences .i-felt-like-my-brai {
  left: 0;
  letter-spacing:calc((100vw * -0.31)/1920);
  line-height:calc((100vw* 44)/1920);
  position: absolute;
  top:calc((100vw * -1)/1920);
  width:calc((100vw * 678)/1920);
}

.x2-lived-experiences .yeallowgreen-text {
  border: 1px solid var(--la-rioja);
  border-radius:calc((100vw * 20)/1920);
  height:calc((100vw* 400)/1920);
  left: calc((100vw* 295)/1920);
  position: absolute;
  top:calc((100vw * 111)/1920);
  width:calc((100vw * 1332)/1920);
}

.x2-lived-experiences .the-topic-of-cognitv {
  color: var(--la-rioja);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xl2);
  font-weight: 500;
  left: calc((100vw* 87)/1920);
  letter-spacing:calc((100vw * -2.16)/1920);
  line-height:calc((100vw* 70)/1920);
  position: absolute;
  top:calc((100vw * 62)/1920);
  width:calc((100vw * 1157)/1920);
}

.x2-lived-experiences .floating-text_11 {
  left: calc((100vw* 327)/1920);
  letter-spacing:calc((100vw * -0.16)/1920);
  line-height:calc((100vw* 39)/1920);
  position: absolute;
  top:calc((100vw * 614)/1920);
  width:calc((100vw * 352)/1920);
}

.x2-lived-experiences .floating-image_11 {
  height:calc((100vw* 319)/1920);
  left: calc((100vw* 62)/1920);
  object-fit: cover;
  position: absolute;
  top:calc((100vw * 619)/1920);
  width:calc((100vw * 418)/1920);
}

.x2-lived-experiences .overlap-group9 {
  height:calc((100vw* 1087)/1920);
  left: calc((100vw* -10)/1920);
  position: absolute;
  top:calc((100vw * 4744)/1920);
  width:calc((100vw * 1920)/1920);
}

.x2-lived-experiences .overlap-group-3 {
  border-radius:calc((100vw * 20)/1920);
  height:calc((100vw* 400)/1920);
  left: calc((100vw* 294)/1920);
  position: absolute;
  top:calc((100vw * 99)/1920);
  width:calc((100vw * 1332)/1920);
}

.x2-lived-experiences .the-act-of-noticing {
  color: var(--heliotrope);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xl2);
  font-weight: 500;
  left: calc((100vw* 90)/1920);
  letter-spacing:calc((100vw * -2.16)/1920);
  line-height:calc((100vw* 70)/1920);
  position: absolute;
  top:calc((100vw * 65)/1920);
  width:calc((100vw * 1152)/1920);
}

.x2-lived-experiences .rectangle-214 {
  border: 1px solid var(--heliotrope);
  border-radius:calc((100vw * 20)/1920);
  height:calc((100vw* 400)/1920);
  left: 0;
  position: absolute;
  top:0;
  width:calc((100vw * 1332)/1920);
}

.x2-lived-experiences .beth_quote {
  height:calc((100vw* 307)/1920);
  left: calc((100vw* 894)/1920);
  position: absolute;
  top:calc((100vw * 586)/1920);
  width:calc((100vw * 678)/1920);
}

.x2-lived-experiences .beth-44-accountant-pacifica-ca {
  left: 0;
  letter-spacing:c0;
  position: absolute;
  top:calc((100vw * 277)/1920);
}

.x2-lived-experiences .i-remember-saying-t {
  left: 0;
  letter-spacing:calc((100vw * -0.31)/1920);
  line-height:calc((100vw* 44)/1920);
  position: absolute;
  top:calc((100vw * -1)/1920);
  width:calc((100vw * 678)/1920);
}

.x2-lived-experiences .overlap-group1-1 {
  border-radius:calc((100vw * 30)/1920);
  height:calc((100vw* 60)/1920);
  left: calc((100vw* 782)/1920);
  position: absolute;
  top:calc((100vw * 590)/1920);
  width:calc((100vw * 60)/1920);
}

.x2-lived-experiences .floating-text_8 {
  left: calc((100vw* 387)/1920);
  letter-spacing:calc((100vw * -0.16)/1920);
  line-height:calc((100vw* 39)/1920);
  position: absolute;
  top:calc((100vw * 864)/1920);
  width:calc((100vw * 352)/1920);
}

.x2-lived-experiences .floating-image_8 {
  height:calc((100vw* 409)/1920);
  left: calc((100vw* 150)/1920);
  object-fit: cover;
  position: absolute;
  top:calc((100vw * 677)/1920);
  width:calc((100vw * 286)/1920);
}

.x2-lived-experiences .overlap-group7 {
  height:calc((100vw* 719)/1920);
  left: calc((100vw* -109)/1920);
  position: absolute;
  top:calc((100vw * 1175)/1920);
  width:calc((100vw * 2017)/1920);
}

.x2-lived-experiences .overlap-group3 {
  height:calc((100vw* 434)/1920);
  left: calc((100vw* 404)/1920);
  position: absolute;
  top:calc((100vw * 77)/1920);
  width:calc((100vw * 1332)/1920);
}

.x2-lived-experiences .i-conducted-13-forma {
  color: transparent;
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xl2);
  font-weight: 500;
  left: calc((100vw* 142)/1920);
  letter-spacing:calc((100vw * -2.16)/1920);
  line-height:calc((100vw* 70)/1920);
  position: absolute;
  top:calc((100vw * 109)/1920);
  width:calc((100vw * 1047)/1920);
}

.x2-lived-experiences .floating-text_2 {
  left: calc((100vw* 1405)/1920);
  letter-spacing:calc((100vw * -0.16)/1920);
  line-height:calc((100vw* 39)/1920);
  position: absolute;
  top:calc((100vw * 645)/1920);
  width:calc((100vw * 397)/1920);
}

.x2-lived-experiences .floating-text_1 {
  left: calc((100vw* 331)/1920);
  letter-spacing:calc((100vw * -0.16)/1920);
  line-height:calc((100vw* 39)/1920);
  position: absolute;
  top:calc((100vw * 445)/1920);
  width:calc((100vw * 462)/1920);
}

.x2-lived-experiences .floating-image_2 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/628164e8cd367e86d77627d8/releases/6284036e5603258f9e8dcaaa/img/cherry-tomatoes-1@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height:calc((100vw* 320)/1920);
  left: calc((100vw* 1541)/1920);
  position: absolute;
  top:calc((100vw * 352)/1920);
  width:calc((100vw * 476)/1920);
}

.x2-lived-experiences .bouquet-flowers-1 {
  height:calc((100vw* 512)/1920);
  left: calc((100vw* 54)/1920);
  object-fit: cover;
  position: absolute;
  top:calc((100vw * -1)/1920);
  width:calc((100vw * 382)/1920);
}

.x2-lived-experiences .billie_quote {
  height:calc((100vw* 189)/1920);
  left: calc((100vw* 221)/1920);
  position: absolute;
  top:calc((100vw * 6440)/1920);
  width:calc((100vw * 708)/1920);
}

.x2-lived-experiences .billie-28-stay-at {
  left: 0;
  letter-spacing:c0;
  position: absolute;
  top:calc((100vw * 159)/1920);
}

.x2-lived-experiences .i-think-a-lot-of-th {
  left: 0;
  letter-spacing:calc((100vw * -0.31)/1920);
  line-height:calc((100vw* 44)/1920);
  position: absolute;
  top:calc((100vw * -1)/1920);
  width:calc((100vw * 708)/1920);
}

.x2-lived-experiences .back-button {
  height:calc((100vw* 23)/1920);
  left: calc((100vw* 1731)/1920);
  position: absolute;
  top:calc((100vw * 8219)/1920);
  width:calc((100vw * 119)/1920);
}

.x2-lived-experiences .back-to-top {
  left: 0;
  letter-spacing:calc((100vw * 0.23)/1920);
  position: absolute;
  text-align: right;
  top:calc((100vw * -1)/1920);
}

.x2-lived-experiences .amanda_quote {
  height:calc((100vw* 226)/1920);
  left: calc((100vw* 945)/1920);
  position: absolute;
  top:calc((100vw * 6839)/1920);
  width:calc((100vw * 747)/1920);
}

.x2-lived-experiences .amanda-23-product {
  left: calc((100vw* 9)/1920);
  letter-spacing:c0;
  position: absolute;
  top:calc((100vw * 196)/1920);
}

.x2-lived-experiences .i-feel-like-its-a {
  left: 0;
  letter-spacing:calc((100vw * -0.31)/1920);
  line-height:calc((100vw* 44)/1920);
  position: absolute;
  top:calc((100vw * -1)/1920);
  width:calc((100vw * 747)/1920);
}

.x2-lived-experiences .floating-text_10 {
  left: calc((100vw* 299)/1920);
  letter-spacing:calc((100vw * -0.16)/1920);
  line-height:calc((100vw* 39)/1920);
  position: absolute;
  top:calc((100vw * 7050)/1920);
  width:calc((100vw * 341)/1920);
}

.x2-lived-experiences .floating-text_9 {
  left: calc((100vw* 1126)/1920);
  letter-spacing:calc((100vw * -0.16)/1920);
  line-height:calc((100vw* 39)/1920);
  position: absolute;
  top:calc((100vw * 6321)/1920);
  width:calc((100vw * 323)/1920);
}

.x2-lived-experiences .floating-text_4 {
  left: calc((100vw* 610)/1920);
  letter-spacing:calc((100vw * -0.16)/1920);
  line-height:calc((100vw* 39)/1920);
  position: absolute;
  top:calc((100vw * 3381)/1920);
  white-space: nowrap;
  width:calc((100vw * 637)/1920);
}

.x2-lived-experiences .floating-image_10 {
  height:calc((100vw* 301)/1920);
  left: calc((100vw* -27)/1920);
  object-fit: cover;
  position: absolute;
  top:calc((100vw * 6727)/1920);
  width:calc((100vw * 650)/1920);
}

.x2-lived-experiences .p2landing-part {
  height:calc((100vw* 1032)/1920);
  left: calc((100vw* 160)/1920);
  position: absolute;
  top:calc((100vw * 121)/1920);
  width:calc((100vw * 1601)/1920);
}

.x2-lived-experiences .overlap-group5 {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/628164e8cd367e86d77627d8/releases/6284036e5603258f9e8dcaaa/img/part1bkimage-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  height:calc((100vw* 1033)/1920);
  left: calc((100vw* 3)/1920);
  position: relative;
  width:calc((100vw * 1602)/1920);
}

.x2-lived-experiences .title {
  left: calc((100vw* 394)/1920);
  letter-spacing:calc((100vw * -4.00)/1920);
  line-height:calc((100vw* 100)/1920);
  position: absolute;
  top:calc((100vw * 360)/1920);
  white-space: nowrap;
}

.x2-lived-experiences .lived-experiences {
  left: calc((100vw* 128)/1920);
  letter-spacing:calc((100vw * -4.00)/1920);
  line-height:calc((100vw* 100)/1920);
  position: absolute;
  top:calc((100vw * 251)/1920);
  white-space: nowrap;
  width:calc((100vw * 1150)/1920);
}

/**** floating image ***/
.floatingAni1{
 animation: floating1 6s ease-in-out infinite;
}
.floatingAni2{
  animation: floating2 10s ease-out infinite;
}
@keyframes floating1 {
    0% {
 
    transform: translatey(0px);
  }
  50% {

    transform: translatey(-10px);
  }
  100% {

    transform: translatey(0px);
  }
}
@keyframes floating2 {
    0% {
 
    transform: translatey(-10px);
  }
  50% {

    transform: translatey(0px);
  }
  100% {

    transform: translatey(10px);
  }
}
/*** end floating image***/
/***fade away text***/
.fade-away {
  text-shadow: 0 0 25px #fff;
  transform: scale(1.05);
  opacity: 0;
  transition: text-shadow 1s, opacity .5s,ease-out 1s;

}

.fade-away.visible {
  color: transparent; 
  text-shadow: 0 0 1px #fff;
  transform: scale(1);
  transition: text-shadow 1s, opacity 5s, ease-in 1s;
  opacity: 1;
}
/***end fadeaway***/


/*** play button **/

#nancy-player-container #n-play-pause{
      cursor: pointer;
          position: absolute;
  border-radius: calc((100vw * 30)/1920);
 /*   height: calc((100vw* 60)/1920);
    left: calc((100vw* 782)/1920);

    top: calc((100vw * 590)/1920);
    width: calc((100vw * 60)/1920);*/
      border-radius: 50%;
    border: 2px solid #000;
    padding: 15px 15px;
    z-index: 2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat!important;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: transparent;
    filter: invert(100%);
    -webkit-filter: invert(100%);
   transform: scale(0.8);
}
#beth-player-container #b-play-pause{
     cursor: pointer;
  border-radius: calc((100vw * 30)/1920);
    height: calc((100vw* 60)/1920);
    left: calc((100vw* 782)/1920);
    position: absolute;
    top: calc((100vw * 590)/1920);
    width: calc((100vw * 60)/1920);
      border-radius: 50%;
    border: 2px solid #000;
    padding: 15px 15px;
    z-index: 2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat!important;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: transparent;
    filter: invert(100%);
    -webkit-filter: invert(100%);
   transform: scale(0.8);

}

#carolyn-player-container #c-play-pause {
    cursor: pointer;
    border-radius: calc((100vw * 30)/1920);
    height: calc((100vw* 10)/1920);
    left: calc((100vw* 723)/1920);
    position: absolute;
    top: calc((100vw * 571)/1920);
    width: calc((100vw * 10)/1920);
    /* top: calc((100vw * 16)/1920); */
    border-radius: 50%;
    border: 2px solid #000;
    padding: 15px 15px;
    z-index: 2;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
    background-repeat: no-repeat!important;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-color: transparent;
    filter: invert(100%);
    -webkit-filter: invert(100%);
   transform: scale(0.8);
}
/*#nancy-player-container #n-play-pause{
 cursor: pointer;
}*/
.play {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMiAyNHYtMjRsMjAgMTItMjAgMTJ6Ii8+PC9zdmc+);
}
.pause {
   background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTAgMjRoLTZ2LTI0aDZ2MjR6bTEwLTI0aC02djI0aDZ2LTI0eiIvPjwvc3ZnPg==)!important;
}
