@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500&display=swap');
:root { 
  --alabaster: #f9fbff;
  --baltic-sea: #292d31;
  --black: #000000;
  --coral: #fc7e53;
  --eerie-black: #1e1f20;
  --heliotrope: #d573ee;
  --la-rioja: #bab700;
  --stromboli: #395b50;
  --white: #ffffff;
 
  --font-size-l:calc(100vw *  32 / 1920);
  --font-size-m:calc(100vw *  31 / 1920);
  --font-size-s2:calc(100vw *  23 / 1920);
  --font-size-xl2:calc(100vw *  54 / 1920);
  --font-size-xs2:calc(100vw *  18 / 1920);
  --font-size-xxl2: calc(100vw * 100 / 1920);
 
  --font-family-abc_diatype_edu-bold: "ABC Diatype Edu-Bold", Helvetica;
  --font-family-abc_diatype_edu-medium: "ABC Diatype Edu-Medium", Helvetica;
  --font-family-abc_diatype_edu-regular: "ABC Diatype Edu-Regular", Helvetica;
  --font-family-epilogue: "Epilogue", Helvetica;
  --font-family-freighttext_pro-bookitalic: "FreightText Pro-BookItalic", Helvetica;
}
.abcdiatypeedu-medium-stromboli-23px {
  color: var(--stromboli);
  font-family: var(--font-family-abc_diatype_edu-medium);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 500;
}

.freighttextpro-bookitalic-normal-black-32px {
  color: var(--black);
  font-family: var(--font-family-freighttext_pro-bookitalic);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 400;
}

.abcdiatypeedu-regular-normal-black-31px {
  color: var(--black);
  font-family: var(--font-family-abc_diatype_edu-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300; /** or 400 on figma **/
}

.epilogue-medium-stromboli-54px {
  color: var(--stromboli);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 450; /* or 500 */
}

.abcdiatypeedu-medium-coral-23px {
  color: var(--coral);
  font-family: var(--font-family-abc_diatype_edu-medium);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 400; /* ori is 500 */
}

.abcdiatypeedu-regular-normal-alabaster-31px {
  color: var(--alabaster);
  font-family: var(--font-family-abc_diatype_edu-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300; /** origin is 400 */
}

.freighttextpro-bookitalic-normal-eerie-black-32px {
  color: var(--eerie-black);
  font-family: var(--font-family-freighttext_pro-bookitalic);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 400;
}

.abcdiatypeedu-medium-la-rioja-23px {
  color: var(--la-rioja);
  font-family: var(--font-family-abc_diatype_edu-medium);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 500;
}

.abcdiatypeedu-medium-heliotrope-23px {
  color: var(--heliotrope);
  font-family: var(--font-family-abc_diatype_edu-medium);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 500;
}

.freighttextpro-bookitalic-normal-alabaster-32px {
  color: var(--alabaster);
  font-family: var(--font-family-freighttext_pro-bookitalic);
  font-size: var(--font-size-l);
  font-style: italic;
  font-weight: 400;
}

.epilogue-semi-bold-white-100px {
  color: var(--white);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 600;
}

.abcdiatypeedu-medium-baltic-sea-18px {
  color: var(--baltic-sea);
  font-family: var(--font-family-abc_diatype_edu-medium);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 500;
}

.epilogue-medium-baltic-sea-54px {
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 500;
}

.abcdiatypeedu-bold-baltic-sea-18px {
  color: var(--baltic-sea);
  font-family: var(--font-family-abc_diatype_edu-bold);
  font-size: var(--font-size-xs2);
  font-style: normal;
  font-weight: 700;
}

.border-1px-alabaster {
  border: 1px solid var(--alabaster);
}
