/* screen - 4-track-your-labor-other */

.x4-track-your-labor-other {
  align-items: center;
  background-color: var(--alabaster);
  display: flex;
  flex-direction: column;
  height:calc(100vw *  12161 / 1920);
  padding: 89.7px 0;
  width: calc(100vw * 1920 / 1920);
}

.x4-track-your-labor-other .x4-1landing-page {
  background-image: url(../img/4landingpagebk-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height:calc(100vw *  1033 / 1920);
  margin-right: calc(100vw * 1.0 / 1920);
  margin-top: calc(100vw *  31 / 1920);
  width: calc(100vw * 1597 / 1920);
}

.x4-track-your-labor-other .landing-title1 {
  height:calc(100vw *  105 / 1920);
  letter-spacing: calc(100vw * -4.00 / 1920);
  line-height:calc(100vw *  100 / 1920);
  margin-left: calc(100vw * calc(100vw * 117.7 / 1920);
  margin-top: calc(100vw *  153.4 / 1920);
  white-space: nowrap;
  width: calc(100vw * 1006.35 / 1920);
}

.x4-track-your-labor-other .landing-title2 {
  height:calc(100vw *  100 / 1920);
  letter-spacing: calc(100vw * -2.00 / 1920);
  line-height:calc(100vw *  100 / 1920);
  margin-left: calc(100vw * calc(100vw * 640.5 / 1920);
  margin-top: calc(100vw *  8.5 / 1920);
  white-space: nowrap;
  width: calc(100vw * 831 / 1920);
}

.x4-track-your-labor-other .x4-circle-and-text {
  align-items: flex-start;
  display: flex;
  margin-right: calc(100vw * 0.7 / 1920);
  margin-top: calc(100vw *  168 / 1920);
  min-width: calc(100vw * 1332 / 1920);
}

.x4-track-your-labor-other .overlap-group {
  height:calc(100vw *  434 / 1920);
  margin-top: calc(100vw *  -0.5 / 1920);
  position: relative;
  width: calc(100vw * 1332 / 1920);
}

.x4-track-your-labor-other .text {
  left: calc(100vw * 182 / 1920);
  letter-spacing: calc(100vw * -2.16 / 1920);
  line-height:calc(100vw *  72 / 1920);
  mix-blend-mode: darken;
  position: absolute;
  top:  calc(100vw * 118 / 1920);
  width: calc(100vw * 1023 / 1920);
}

.x4-track-your-labor-other .span {
  letter-spacing: calc(100vw * -1.17 / 1920);
}

.x4-track-your-labor-other .circle {
  height:calc(100vw *  434 / 1920);
  left: 0;
  mix-blend-mode: darken;
  position: absolute;
  top:  0;
  width: calc(100vw * 1332 / 1920);
}

.x4-track-your-labor-other .direction-div {
  display: flex;
  flex-direction: column;
  height:calc(100vw *  174 / 1920);
  margin-right: calc(100vw * 569.52 / 1920);
  margin-top: calc(100vw *  168 / 1920);
  width: calc(100vw * 760 / 1920);
}

.x4-track-your-labor-other .directions {
  color: var(--la-rioja);
  font-family: var(--font-family-abc_diatype_edu-bold);
  font-size: var(--font-size-xs);
  font-weight: 700;
  height:calc(100vw *  32 / 1920);
  letter-spacing: calc(100vw * 0;
  line-height:calc(100vw *  32 / 1920);
  white-space: nowrap;
  width: calc(100vw * 147 / 1920);
}

.x4-track-your-labor-other .answer-each-question {
  color: var(--black);
  font-family: var(--font-family-abc_diatype_edu-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
  height:calc(100vw *  133.31 / 1920);
  letter-spacing: calc(100vw * 0;
  line-height:calc(100vw *  32 / 1920);
  margin-top: calc(100vw *  8.3 / 1920);
  width: calc(100vw * 760.48 / 1920);
}

.x4-track-your-labor-other .x4-circle-and-text-2 {
  align-items: flex-start;
  display: flex;
  margin-left: calc(100vw * calc(100vw * 8.18 / 1920);
  margin-top: calc(100vw *  2228 / 1920);
  min-width: calc(100vw * 1332 / 1920);
}

.x4-track-your-labor-other .take-note-of-any-eme {
  left: calc(100vw * 140 / 1920);
  letter-spacing: calc(100vw * -2.16 / 1920);
  line-height:calc(100vw *  54 / 1920);
  position: absolute;
  top:  calc(100vw * 111 / 1920);
  width: calc(100vw * 1053 / 1920);
}

.x4-track-your-labor-other .span-1 {
  letter-spacing: calc(100vw * -1.17 / 1920);
  line-height:calc(100vw *  70 / 1920);
}

.x4-track-your-labor-other .span-2 {
  letter-spacing: calc(100vw * -1.17 / 1920);
  line-height:calc(100vw *  72 / 1920);
}

.x4-track-your-labor-other .span2 {
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-m);
  font-weight: 600;
  letter-spacing: calc(100vw * -1.17 / 1920);
  line-height:calc(100vw *  72 / 1920);
}

.x4-track-your-labor-other .span4 {
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-l);
  font-weight: 700;
  letter-spacing: calc(100vw * -1.54 / 1920);
  line-height:calc(100vw *  78 / 1920);
}

.x4-track-your-labor-other .ellipse-115 {
  height:calc(100vw *  434 / 1920);
  left: calc(100vw * 0;
  mix-blend-mode: darken;
  position: absolute;
  top:  0;
  width: calc(100vw * 1332 / 1920);
}

.x4-track-your-labor-other .x4-circle-and-text-3 {
  background-image: url(../img/ellipse-148@1x.png);
  background-size: 100% 100%;
  display: flex;
  height:calc(100vw *  434 / 1920);
  margin-right: calc(100vw * 1.7 / 1920);
  margin-top: calc(100vw *  3651 / 1920);
  width: calc(100vw * 1332 / 1920);
}

.x4-track-your-labor-other .the-list-might-feel {
  height:calc(100vw *  194.63 / 1920);
  letter-spacing: calc(100vw * -2.16 / 1920);
  line-height:calc(100vw *  70 / 1920);
  margin-left: calc(100vw * calc(100vw * 128.8 / 1920);
  margin-top: calc(100vw *  119.7 / 1920);
  mix-blend-mode: darken;
  width: calc(100vw * 1068.59 / 1920);
}

.x4-track-your-labor-other .last-sec-green {
  align-items: flex-end;
  display: flex;
  margin-top: calc(100vw *  2400 / 1920);
  min-width: calc(100vw * 1920 / 1920);
}

.x4-track-your-labor-other .overlap-group-1 {
  height:calc(100vw *  827 / 1920);
  margin-bottom: 0;
  position: relative;
  width: calc(100vw * 1920 / 1920);
}

.x4-track-your-labor-other .line-213 {
  height:calc(100vw *  1 / 1920);
  left: calc(100vw * 0;
  position: absolute;
  top: calc(100vw * 826 / 1920);
  width: calc(100vw * 1919 / 1920);
}

.x4-track-your-labor-other .bk {
  background-color: var(--la-rioja);
  height:calc(100vw *  827 / 1920);
  left: calc(100vw * 0;
  position: absolute;
  top:  0;
  width: calc(100vw * 1920 / 1920);
}

.x4-track-your-labor-other .screen-shot-2022-05-03-at-223-1 {
  height:calc(100vw *  662 / 1920);
  left: calc(100vw * 1241 / 1920);
  object-fit: cover;
  position: absolute;
  top:  calc(100vw * 82 / 1920);
  width: calc(100vw * 447 / 1920);
}

.x4-track-your-labor-other .i-conducted-a-week-l {
  left: calc(100vw * 240 / 1920);
  letter-spacing: calc(100vw * -0.42 / 1920);
  line-height:calc(100vw *  48 / 1920);
  position: absolute;
  top:  calc(100vw * 138 / 1920);
  width: calc(100vw * 628 / 1920);
}

.x4-track-your-labor-other .here-is-a-link-to-th {
  color: var(--alabaster);
  font-family: var(--font-family-abc_diatype_edu-bold);
  font-size: var(--font-size-s);
  font-weight: 700;
  left: calc(100vw * 240 / 1920);
  letter-spacing: calc(100vw * -0.42 / 1920);
  line-height:calc(100vw *  48 / 1920);
  position: absolute;
  top: calc(100vw * 530 / 1920);
  width: calc(100vw * 628 / 1920);
}

.x4-track-your-labor-other .span0 {
  font-weight: 700;
  letter-spacing: calc(100vw * -0.18 / 1920);
  text-decoration: underline;
}

.x4-track-your-labor-other .span1 {
  letter-spacing: calc(100vw * -0.18 / 1920);
}
