/* screen - 4-track-your-labor */

.x4-track-your-labor {
  background-color: var(--alabaster);
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 12161px;
  min-width: 1920px;
  width: 100%;
}

.x4-track-your-labor .x4-1landing-page {
  background-image: url(../img/4landingpagebk-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 1033px;
  margin-left: 161px;
  margin-top: 121px;
  width: 1597px;
}

.x4-track-your-labor .landing-title1 {
  height: 105px;
  letter-spacing: -4.00px;
  line-height: 100px;
  margin-left: 117.7px;
  margin-top: 153.4px;
  white-space: nowrap;
  width: 1008.35px;
}

.x4-track-your-labor .landing-title2 {
  height: 100px;
  letter-spacing: -2.00px;
  line-height: 100px;
  margin-left: 640.5px;
  margin-top: 8.5px;
  white-space: nowrap;
  width: 833px;
}

.x4-track-your-labor .x4-circle-and-text {
  align-items: flex-start;
  display: flex;
  height: 434px;
  justify-content: center;
  margin-left: 293.7px;
  margin-top: 167.6px;
  min-width: 1332px;
}

.x4-track-your-labor .overlap-group {
  height: 435px;
  margin-top: -0.5px;
  position: relative;
  width: 1333px;
}

.x4-track-your-labor .text {
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xxl);
  left: 182px;
  letter-spacing: -2.16px;
  line-height: 72px;
  position: absolute;
  top: 119px;
  width: 1025px;
}

.x4-track-your-labor .span-1 {
  font-weight: 700;
}

.x4-track-your-labor .circle {
  height: 435px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1333px;
}

.x4-track-your-labor .direction-div {
  display: flex;
  flex-direction: column;
  height: 173.62px;
  margin-left: 295px;
  margin-top: 168.1px;
  width: 762.48px;
}

.x4-track-your-labor .directions {
  color: var(--la-rioja);
  font-family: var(--font-family-abc_diatype_edu-bold);
  font-size: var(--font-size-s);
  font-weight: 700;
  height: 32px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
  width: 149px;
}

.x4-track-your-labor .answer-each-question {
  color: var(--black);
  font-family: var(--font-family-abc_diatype_edu-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 133.31px;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: 8.3px;
}

.x4-track-your-labor .cognitive-labor {
  height: 2045px;
  margin-left: 132px;
  margin-top: 56.7px;
  width: 1655px;
}

.x4-track-your-labor .x4-circle-and-text-2 {
  align-items: flex-start;
  display: flex;
  height: 434px;
  justify-content: center;
  margin-left: 298.1px;
  margin-top: 126.7px;
  min-width: 1332px;
}

.x4-track-your-labor .take-note-of-any-eme {
  color: var(--baltic-sea);
  font-family: var(--font-family-epilogue);
  font-size: var(--font-size-xxl);
  left: 140px;
  position: absolute;
  top: 112px;
  width: 1055px;
}

.x4-track-your-labor .span-2 {
  letter-spacing: -2.16px;
  line-height: 70px;
}

.x4-track-your-labor .span-3 {
  font-family: var(--font-family-epilogue-bolditalic);
  font-style: italic;
  font-weight: 700;
  letter-spacing: -2.16px;
  line-height: 72px;
}

.x4-track-your-labor .span3 {
  font-family: var(--font-family-epilogue-semibolditalic);
  font-style: italic;
  font-weight: 600;
  letter-spacing: -2.16px;
  line-height: 72px;
}

.x4-track-your-labor .span5 {
  font-family: var(--font-family-epilogue-bolditalic);
  font-size: var(--font-size-xxxl);
  font-style: italic;
  font-weight: 700;
  letter-spacing: -2.48px;
  line-height: 78px;
}

.x4-track-your-labor .ellipse-115 {
  height: 435px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1333px;
}

.x4-track-your-labor .emerging-patterns {
  height: 3436px;
  margin-left: 132px;
  margin-top: 117.2px;
  width: 1655px;
}

.x4-track-your-labor .x4-circle-and-text-3 {
  align-items: flex-start;
  display: flex;
  height: 434px;
  justify-content: center;
  margin-left: 293.7px;
  margin-top: 98.0px;
  min-width: 1332px;
}

.x4-track-your-labor .overlap-group3 {
  align-items: flex-end;
  background-image: url(../img/ellipse-148@1x.png);
  background-size: 100% 100%;
  display: flex;
  height: 435px;
  margin-top: -0.5px;
  min-width: 1333px;
  padding: 120.2px 129.3px;
}

.x4-track-your-labor .the-list-might-feel {
  letter-spacing: -2.16px;
  line-height: 70px;
  margin-bottom: 0;
  min-height: 195px;
  width: 1071px;
}

.x4-track-your-labor .fraction-home {
  height: 2129px;
  margin-left: 132px;
  margin-top: 143.8px;
  width: 1655px;
}

.x4-track-your-labor .last-sec-green {
  align-items: flex-end;
  display: flex;
  height: 827.35px;
  margin-top: 126.2px;
  min-width: 1920px;
}

.x4-track-your-labor .overlap-group-1 {
  height: 828px;
  margin-bottom: -1.0px;
  margin-left: -1px;
  position: relative;
  width: 1921px;
}

.x4-track-your-labor .line-213 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 826px;
  width: 1920px;
}

.x4-track-your-labor .bk {
  background-color: var(--la-rioja);
  height: 827px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 1920px;
}

.x4-track-your-labor .screen-shot-2022-05-03-at-223-1 {
  height: 663px;
  left: 1241px;
  object-fit: cover;
  position: absolute;
  top: 82px;
  width: 448px;
}

.x4-track-your-labor .i-conducted-a-week-l {
  left: 241px;
  letter-spacing: -0.42px;
  line-height: 48px;
  position: absolute;
  top: 139px;
  width: 630px;
}

.x4-track-your-labor .here-is-a-link-to-th {
  color: var(--alabaster);
  font-family: var(--font-family-abc_diatype_edu);
  font-size: var(--font-size-xl);
  left: 241px;
  letter-spacing: -0.42px;
  line-height: 48px;
  position: absolute;
  top: 531px;
  width: 630px;
}

.x4-track-your-labor .span1 {
  font-family: var(--font-family-abc_diatype_edu-bolditalic);
  font-style: italic;
  font-weight: 700;
  text-decoration: underline;
}

.x4-track-your-labor .span2 {
  font-family: var(--font-family-abc_diatype_edu-regular);
  font-weight: 400;
}
